body {
    background-color: hsl(212, 45%, 89%);
    max-width: 1440px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    text-align: center;
}

.container img {
    border-radius: 15px;
}